.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50% 50%;
  grid-gap: 10px 10px;
  justify-content: center;
  margin: 118px 0 0 0;
  padding: 0;
  max-width: 90vw;
  max-height: 100%;
}

@media screen and (max-width: 820px) {
  .photo-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 88px;
    max-width: 85vw;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 15px 0px;
    margin-top: 100px;
    max-width: 80vw;
  }
}

@media screen and (min-width: 1700px) {
  .photo-grid {
    max-width: 90%;
  }
}
