.photo-grid {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  grid-gap: 16px;
  justify-content: center;

  margin: 118px 0 0 0;
  padding: 0;
  max-width: 1184px;
}

@media screen and (max-width: 820px) {
  .photo-grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    margin-top: 88px;
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    grid-template-columns: min-content;
    grid-template-rows: min-content;
    grid-gap: 12px;
    margin-top: 90px;
    max-width: 288px;
  }
}
