.place__image {
  grid-area: image;
  width: 100%;
}

.place__image:hover {
  opacity: 0.2;
}

@media screen and (max-width: 820px) {
  .place__image {
    width: 90vw;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .place__image {
    max-height: 100%;
    margin-top: 10px;
  }
}
