.cover__subtitle {
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  margin: 32px auto 0 auto;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 525px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 16px;
    max-width: 280px;
  }
}
