.section_narrow {
  max-width: 984px;
  padding: 0 24px;
}

@media screen and (max-width: 720px) {
  .section_narrow {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .section_narrow {
    max-width: 320px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
