.place__text {
  grid-area: text;
  width: 484px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 820px) and (min-width: 426px) {
  .place__text {
    max-width: 352px;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .place__text {
    font-size: 16px;
    max-width: 290px;
    max-height: 100%;
    margin: 25px 16px 0 16px;
  }
}
