.section__column {
  max-width: 984px;
  padding: 0 24px;
}

@media screen and (max-width: 820px) {
  .section__column {
    max-width: 720px;
  }
}

@media screen and (max-width: 425px) {
  .section__column {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
