.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.05;
  text-align: center;
  margin: 91px auto 0 auto;
  padding: 0 12px 0 0;
  max-width: 793px;
}

@media screen and (max-width: 820px) {
  .lead__title {
    margin: 88px 24px 0 24px;
    padding: 0;
  }
}

@media screen and (max-width: 625px) {
  .lead__title {
    font-size: 40px;
    margin-top: 50px;
    line-height: 1.1;
  }
}
