.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  max-width: 90vw;
}

@media screen and (max-width: 820px) {
  .lead__title {
    margin-left: 5vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 40px;
  }
}
