.lead__image {
  width: fit-content;
  margin: 64px 0 0 148px;
  padding: 0;
}

@media screen and (max-width: 820px) {
  .lead__image {
    max-width: 768px;
    max-height: 890px;
    margin: 33px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    object-fit: cover;
    width: 100vw;
    max-height: 187px;
    margin-top: 40px;
  }
}
