.lead__image {
  width: 76%;
  margin: 64px auto 0 auto;
  padding: 0;
}

@media screen and (max-width: 820px) {
  .lead__image {
    width: 100%;
    max-height: 890px;
    margin: 33px 0 0 0;
  }
}

@media screen and (max-width: 425px) {
  .lead__image {
    object-fit: cover;
    width: 100%;
    max-height: 187px;
    margin-top: 40px;
  }
}
