.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 32px auto 0 auto;
  max-width: 720px;
  padding: 0;
  width: 95%;
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.25;
  }
}
