.lead__subtitle {
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  margin: 20px auto 0 auto;
  max-width: 60vw;
}

@media screen and (max-width: 820px) {
  .lead__subtitle {
    max-width: 90vw;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
  }
}
