.place {
  display: grid;
  grid-template-areas: "title artist" "image text" "button text";
  gap: 48px 40px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content 1fr;
  margin: 80px auto 0 auto;
}

.place:last-of-type {
  margin-top: 72px;
}

@media screen and (max-width: 1000px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: min-content auto 1fr;
    gap: 36px 25px;
    margin-top: 65px;
  }
}

@media screen and (max-width: 725px) {
  .place {
    grid-template-areas: "title" "artist" "image" "text" "text" "button";
    gap: 7px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, min-content);
    margin-top: 46px;
  }

  .place:first-of-type {
    margin-top: 28px;
  }

  .place:last-of-type {
    margin-top: 48px;
  }
}
