.footer {
  display: flex;
  flex-direction: row;
  margin: 92px auto 24px auto;
  padding: 0;
  justify-content: center;
  align-content: flex-end;
}

@media screen and (max-width: 820px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    margin-top: 64px;
  }
}
