.place__artist {
  grid-area: artist;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 456px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 820px) {
  .place__artist {
    max-width: 352px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .place__artist {
    max-width: 288px;
    max-height: min-content;
    margin-top: 23px;
  }
}
