.button {
  padding: 13px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  background: #0278fe;
  text-decoration: none;

  border-radius: 4px;
  border: none;

  width: fit-content;
  height: min-content;
}

.button:hover {
  background: #0063d2;
}
